<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <meta codigoSecreto="735597189" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <!-- Pico.css -->
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <title>PWeb - by Ítalo Costa</title>
  </head>
  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/index" class="w3-bar-item w3-button w3-mobile"> Início </a>
      <a
        href="/adicionarPessoa"
        class="w3-bar-item w3-button w3-mobile w3-light-blue"
      >
        Adicionar pessoa
      </a>
      <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile">
        Listar pessoas
      </a>
      <a href="/contato" class="w3-bar-item w3-button w3-mobile w3-right">
        Contato
      </a>
      <a href="/sobre" class="w3-bar-item w3-button w3-mobile w3-right">
        Sobre o site
      </a>
      <a href="/noticias" class="w3-bar-item w3-button w3-mobile w3-right">
        Notícias
      </a>
    </div>
    <main class="container-fluid">
      <h1>Formulário para adicionar pessoas:</h1>
      <section>
        <form
          th:action="@{/adicionarPessoa}"
          th:object="${pessoa}"
          method="post"
        >
          <div class="grid">
            <span>
              <label for="nome">Seu Nomezinho*:</label>
              <input
                type="text"
                id="nome"
                name="nome"
                placeholder="Nome Completo"
                th:field="*{nome}"
                required
              />
            </span>
            <span>
              <label for="email">Email*:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                th:field="*{email}"
                required
              />
              <small>Nunca divulgaremos :)</small>
            </span>
            <span>
              <label for="dataNascimento">Data de Nascimento*:</label>
              <input
                type="date"
                id="dataNascimento"
                name="dataNascimento"
                placeholder="dataNascimento"
                th:field="*{dataNascimento}"
                required
              />
            </span>
          </div>
          <div class="grid">
            <fieldset>
              <legend>Gênero*:</legend>
              <label for="radio-1">
                <input
                  type="radio"
                  id="radio-1"
                  name="radio"
                  value="Masculino"
                  checked
                  th:field="*{genero}"
                  required
                />
                Masculino
              </label>
              <label for="radio-2">
                <input
                  type="radio"
                  id="radio-2"
                  name="radio"
                  value="Feminino"
                  th:field="*{genero}"
                  required
                />
                Feminino
              </label>
              <label for="radio-3">
                <input
                  type="radio"
                  id="radio-3"
                  name="radio"
                  value="Não informar"
                  th:field="*{genero}"
                  required
                />
                Não informar
              </label>
            </fieldset>
          </div>
          <div class="grid">
            <button type="submit">Adicionar</button>
            <button type="reset">Limpar</button>
          </div>
          <p>* Campo obrigatório</p>
        </form>
      </section>
    </main>
  </body>
</html>
