<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <meta codigoSecreto="735597189" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <!-- Pico.css -->
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <title>PWeb - by Ítalo Costa</title>
  </head>
  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/index" class="w3-bar-item w3-button w3-mobile"> Início </a>
      <a href="/adicionarPessoa" class="w3-bar-item w3-button w3-mobile">
        Adicionar pessoa
      </a>
      <a
        href="/listarPessoas"
        class="w3-bar-item w3-button w3-mobile w3-light-blue"
      >
        Listar pessoas
      </a>
      <a href="/contato" class="w3-bar-item w3-button w3-mobile w3-right">
        Contato
      </a>
      <a href="/sobre" class="w3-bar-item w3-button w3-mobile w3-right">
        Sobre o site
      </a>
      <a href="/noticias" class="w3-bar-item w3-button w3-mobile w3-right">
        Notícias
      </a>
    </div>
    <main class="container-fluid" style="text-align: center">
      <h1>Lista de Pessoas</h1>
      <table>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Email</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Gênero</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${pessoas}">
            <th scope="row" th:text="${p.id}"></th>
            <td th:text="${p.nome}"></td>
            <td>
              <a th:href="'mailto:' + ${p.email}" th:text="${p.email}"></a>
            </td>
            <td th:text="${#temporals.format(p.dataNascimento, 'dd/MM/yyyy')}"></td>
            <td th:text="${p.genero}"></td>
            <td><a th:href="@{/editar/{id}(id=${p.id})}">Editar</a></td>
            <td><a th:href="@{/remover/{id}(id=${p.id})}">Remover</a></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
